<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acerca de Cerealnet</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/resumen"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row >
      <ion-col>
        <div class="centrado">
          <img class="logo" src="../../../assets/images/logo.png"/>
            <p class="kernelInfo"><strong>Cerealnet</strong> Versión {{getVersionApp()}}</p>
            <p class="kernelInfo"><strong>Cerealnet</strong> permite a los socios de <strong>{{this.empresa.nombreCompleto}}</strong> acceder y consultar de modo simple y seguro a la información de cuentas corrientes, cereales y otros servicios brindados por la empresa.
            <br>
            <br>
            Cerealnet desarrollado por <strong>Kernel Informatica</strong>  ofrece servicios de gestión administrativa para empresas del agro.
            </p>

            </div>
      </ion-col>

    </ion-row>


  </ion-grid>




</ion-content>
