<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Camionero Registro</ion-title>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">camionero-registro</ion-title>
    </ion-toolbar>
    <div *ngIf="loading" class="spinner-container">
      <ion-spinner ></ion-spinner>
  </div>







  </ion-header>

  <ion-card *ngIf="!loading" class="login-card">
    <form #registerForm="ngForm">
        <ion-card-header class="login-card-header">
         Ingrese sus datos
           <!--  {{textos.registerCamionero.html.titulo}}-->
        </ion-card-header>
        <ion-card-content class="login-card-content">
            <ion-item>
                <ion-label floating>Nombre</ion-label>
                <ion-input type="text" name="nombre" class="input" [(ngModel)]="camionero.nombre" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Celular</ion-label>
                <ion-input type="text" name="celular" class="input" [(ngModel)]="camionero.celular" required></ion-input>
            </ion-item>

            <ion-item class="item-password">
                <ion-label floating>Cuit Empresa Transportista</ion-label>
                <ion-input type="text" name="cuitEmpTrans" class="input" [(ngModel)]="camionero.cuitEmpTrans" required></ion-input>
            </ion-item>

            <div class="row button-container">
                <div class="col-xs-12">

                    <button (click)="onClickIngresar()" ion-button type="submit">
                        Ingresar
                    </button>
                </div>
            </div>
        </ion-card-content>
    </form>
    <div class="info">
      {{txt_info}}
   </div>
</ion-card>



</ion-content>
