<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Buscar Camión</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding class="body">
<br>
  <div *ngIf="!loading" class="buscar-content">
      <ion-item class="busqueda-container">
          <ion-label color="primary" floating>Ingrese patente o carta</ion-label>

           <ion-searchbar  animated="true" [(ngModel)]="nroCartaOPatenteBuscada" [debounce]="500" style="color: grey;"  placeholder="Numero de carta o patente" ></ion-searchbar>


             </ion-item>
             <ion-button style="padding-left: 20px; padding-right: 20px; color: grey"
             id="submit-btn"
             type="submit"
             (click)="onClickBuscar()"
             expand="block"
             class="btn-login"
             >BUSCAR</ion-button
           >



             <ion-card *ngIf="this.nroCartaOPatenteBuscada !=='' ">
              <div>
                <strong>DETALLE DE CARTA DE PORTE BUSCADA </strong>
              </div>
            </ion-card>

  </div>



<!-- Muestro la tabla cuando encuentre elementos -->




<!-- /////////////////////// -->




</ion-content>
