<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Buscar Camión</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >


  <div class="searchbar-container" *ngIf="!loading" >
    <ion-searchbar [debounce]="500" style="color: grey;"  placeholder="Numero de carta o patente" ></ion-searchbar>




    <div class="btn-container">

      <button (click)="onClickBuscar()" ion-button icon-end>
        {{buscarCartaBtnBuscar}}
        <ion-icon name="search"></ion-icon>
    </button>

    </div>


   <!-- <div *ngIf="checkIfIsPatente()" class="help-info">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <a>
            {{buscarCartaTipPatente}}
        </a>
    </div>

    <div *ngIf="!checkIfIsPatente()" class="help-info">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <a>
            {{buscarCartaTipNroCarta}}
        </a>
    </div>-->



</div>

</ion-content>







